@charset "utf-8";
/*字体文件*/
@font-face {
    font-family: 'iconfont';  /* project id 563951 */
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-duihuazixun:before { content: "\e700"; }

.icon-tubiao314:before { content: "\e625"; }

.icon-gerenxinxi:before { content: "\e65d"; }

.icon-sousuo:before { content: "\e62a"; }

.icon-weibiaoti7:before { content: "\e619"; }

.icon-weibiaoti33:before { content: "\e633"; }

.icon-icon_good:before { content: "\e616"; }

.icon-xiaolianwawa:before { content: "\e607"; }

.icon-shouye1-copy:before { content: "\e64e"; }

.icon-xinxi:before { content: "\e64b"; }

.icon-phone:before { content: "\e6dc"; }

.icon-tianjiazhaopian:before { content: "\e622"; }

.icon-sanjiao:before { content: "\e65a"; }

.icon-cha:before { content: "\e605"; }

.icon-shipin:before { content: "\e80a"; }

.icon-jiahao:before { content: "\e604"; }

.icon-geren:before { content: "\e641"; }

.icon-plus-add:before { content: "\e727"; }

.icon-collection:before { content: "\e611"; }

.icon-tianjiaguanzhu:before { content: "\e7b9"; }

.icon-BAI-lingdang:before { content: "\e6ce"; }

.icon-shezhi:before { content: "\e78a"; }

.icon-icon--:before { content: "\e728"; }

.icon-zuo:before { content: "\e600"; }

.icon-chakan:before { content: "\e6c6"; }

html,
body {
    background: #fff;
    /*font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;*/
    /* 第一个是第三方字体 */
    font-family: Helvetica,sans-self;
    font-style: normal;
    -webkit-user-select: none;
    /* 禁止页面文字选择 */
}
.register-nav{
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.regist-zuo{
    color: #6f6f6f;
    font-size: 0.65rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.register-content{

    width: 100%;
    height: auto;
    background: #f2f2f2;
}
.register-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    float: left;
    margin-left: 34%;
    line-height: 1rem;
}
.register-line{
    width: 100%;
    height: auto;
    background: #fff;

    margin-top: 0.2rem;
}
.register-con{
    width: 90%;
    margin: 0 5%;
}
.register-con p{
    border-bottom: 1px solid #e7e7e7;

    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
}
.register-input{
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.32rem;
    color: #b5b3b4;
    margin-top: 0.2rem;
    float: left;

}
.register-con p:last-child{
    border-bottom:none;
}
.register-input-yanzheng{
    width: 50%!important;
}
.register-icon{
    font-size: 0.45rem;
    color: #c8c7cc;
    float: right;
    line-height: 1rem;
    margin-right: 0.22rem;
}
.register-btn-info{
    width: 80%;
    background: #df4198;
    line-height: 0.9rem;
    height: 0.9rem;
    font-size: 0.36rem;
    text-align: center;
    color: #fff;
    -moz-border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    margin: 1rem 10% 0 10%;
    border: none;
}
.get-code{
    display: block;
    width: 30%;
    float: right;
    background: #e6e6e6;
    line-height: 0.8rem;
    height: 0.8rem;
    font-size: 0.3rem;
    text-align: center;
    color: #6a6a6a;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
}
.register-login{
    width: 80%;
    margin: 0.4rem 10%;
}
.register-login ul li{
    float: right;
    color: #dd4198;
    height: 0.6rem;
}
.register-have{
    width: auto;
    font-size: 0.35rem;
    line-height: 0.6rem;
    margin-top: 0.05rem;
    margin-right: 0.2rem;
}
.register-login-buten{
    width: auto;
    font-size: 0.3rem;
    padding: 0 0.3rem;
    line-height: 0.6rem;
    border: 2px #dd4198 solid;
    -moz-border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
}
/*registerend*/

.index-content{

    width: 100%;
    height: auto;
    background: #fff;
}
.index-sousuo{
    font-size: 0.4rem;
    color: #dd4198;
    float: right;
    line-height: 1.3rem;
    margin-right: 0.3rem;
}
.index-nav{
    width: 100%;
    height: 1.3rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.index-logo{
    width: 20%;
    height: 1.3rem;
    float: left;
}
.index-logo img{
    width: 0.7rem;
    height: 0.7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px #dfdfdf solid;
    margin: 0.3rem auto auto 0.2rem;
}
.index-nav-list {
    font-size: 0.35rem;
    float: left;
    width: 68%;
    height: 1.3rem;
    line-height: 1.3rem;
    color: #494949;
}
.index-nav-list ul li{
    width: 25%;
    line-height: 1.3rem;
    float: left;

}
.current{
    color: #dd4198;
}
.index-tag{
    width: 96%;
    height: auto;
    margin: 0 2%;
}
.index-tag ul li{
    float: left;
    width: 49%;
    height: 1.8rem;
}
.index-tag ul li:last-of-type{
    margin-left: 2%;
}
.index-tag ul li img{
    width: 100%;
    height: 1.8rem;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
}
.index-content-list{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.index-content-list dl dt{
    width: 100%;
    height: auto;
    border-bottom: 1px #eee solid;
}
.index-content-list dl dt ul li{
    float: left;
    width: 70%;
    margin: 0.2rem auto;
}
.index-content-list dl dt ul li:last-of-type{
    width: 30%;
}
.index-content-list dl dt ul li p{
    width: 100%;
    text-indent: 0.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.32rem;
    color: #333;
    overflow: hidden;
    margin: 0.3rem 0;
}
.index-content-list dl dt ul li span label{
    background: #feebcb;
    color: #fe9901;
    padding: 0.06rem 0.15rem;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.index-content-list dl dt ul li span{
    width: 100%;
    display: block;
    text-indent: 0.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.28rem;
    color: #cbcbcb;
    overflow: hidden;
    margin: 0.3rem 0;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.index-content-list dl dt ul li img{
    width: 80%;
    height: 1.6rem;
    margin-left: 10%;
    margin-top: 0.2rem;
}
.footer{
    width: 100%;
    height: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5555;
    background: #fff;
    border-top: 1px #eee solid;
}
.footer ul li{
    float: left;
    width: 20%;
    height: 1.2rem;
    margin-left: 10%;
    padding-top: 0.1rem;
}
.footer ul li p{
    width: 100%;
    text-align: center;
    color: #333;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.26rem;
}
.shouye{
    color: #8c8c8c;
    margin-left: 26.3%;
    font-size: 0.7rem;
    background: linear-gradient(to bottom, #ffffff, #8c8c8c);
    -webkit-background-clip: text;
    color: transparent;
}
.jiandang{
    color: #8c8c8c;
    margin-left: 26.3%;
    font-size: 0.7rem;
    background: linear-gradient(to bottom, #ffffff, #8c8c8c);
    -webkit-background-clip: text;
    color: transparent;
}
.geren{
    color: #8c8c8c;
    margin-left: 26.3%;
    font-size: 0.7rem;
    background: linear-gradient(to bottom, #ffffff, #8c8c8c);
    -webkit-background-clip: text;
    color: transparent;
}
.curr{
    background: linear-gradient(to bottom, #ffffff, #dd4198);
    -webkit-background-clip: text;
    color: transparent;
}
.currfont{
    color: #dd4198!important;
}
/*index end*/
.login-content{
    width: 100%;
    height: auto;
    background: url("../img/index-background.jpg") no-repeat top center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    /*filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ff7fb8,endcolorstr=#ffb8da,gradientType=1);*/
    /*-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ff7fb8,endcolorstr=#ffb8da,gradientType=1);*/
    /*background:red; !* 一些不支持背景渐变的浏览器 *!*/
    /*background:-moz-linear-gradient(top, #ff7fb8, rgba(255, 184, 218, 0.5));*/
    /*background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ff7fb8), to(rgba(255, 184, 218, 0.5)));*/
    /*background:-o-linear-gradient(top, #ff7fb8, rgba(255, 184, 218, 0.5));*/
}
.login-logo{
    width: 100%;
    height: auto;
}
.login-logo img{
    width: 5rem;
    height: 1rem;
    margin: 2.5rem auto 0.8rem 1.2rem;
}
.login-form{
    width: 90%;
    margin: 0 5%;
    background: transparent;
    box-sizing: border-box;
}
.login-form p {
    border-bottom: 1px solid #fff;
    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
    background: transparent;
}
.login-input {
    /*background: url("../img/inputback.png") no-repeat center;*/
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.32rem;
    color: #fff;
    margin-top: 0.2rem;
    float: left;
}
.login-icon {
    font-size: 0.45rem;
    color: #fff;
    float: right;
    line-height: 1rem;
    margin-right: 0.22rem;
}
.login-form span{
    width: 30%;
    text-align: right;
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.5rem;
    display: block;
    margin-top: 0.2rem;
    float: right;
}
.login-button{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.4rem auto 0.6rem auto;
    background: url("../img/loginin.png") no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.6rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -webkit-text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    /**filter: Glow(color=#df3c95, strength=2);*/
}
.login-border{
    width: 90%;
    margin: 0 5%;
}
.login-p{
    width: 10%;
    text-align: center;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: #fff;
    background: transparent;
    float: left;
}
.login-border-left{
    float: left;
    width: 45%;
    margin-top: 0.22rem;
    border-bottom: 1px #fff solid;
}
.login-border-right{
    float: left;
    width: 45%;
    margin-top: 0.22rem;
    border-bottom: 1px #fff solid;
}
.login-short{
    border: 1px #fff solid;
    width: 60%;
    height: 1rem;
    margin: 0.5rem auto 1.5rem auto;
    color: #fff;
    font-size: 0.32rem;
    text-align: center;
    line-height: 1rem;
    -moz-border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    letter-spacing:0.15rem;
}
.login-short-list{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}
.login-short-list ul li{
    float: left;
    text-align: center;
    width: 55%;
    font-size: 0.32rem;
    color: #fff;
    height: 1rem;
    line-height: 1rem;
}
.login-short-list ul li:nth-child(2){
    width: 5%;
}
.login-short-list ul li:nth-child(3){
    width: 35%;
}
/*loginend*/
.record-content {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 1.5rem;
}
.record-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.record-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 44%;
    line-height: 1rem;
}
.record-list{
    width: 100%;
    margin: 0.2rem auto 0 auto;
    background: #fff;
}
.record-list ul li{
    width: 96%;
    margin-left: 4%;
    height: 1rem;
    border-bottom: 1px #dfdfdf solid;
}
.record-list ul li:last-of-type{
    border-bottom: none;
}
.record-list ul li label{
    width: auto;
    float: left;
    text-align: left;
    font-size: 0.35rem;
    color: #dd4198;
    line-height: 1rem;
}
.jiandang-input{
    float: right;
    text-align: right;
    margin-right: 0.3rem;
    font-size: 0.32rem;
    color: #707070;
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 60%;
    margin-top: 0.3rem;
}
.record-zhi{
    float: right;
    text-align: right;
    margin-right: 0.3rem;
    font-size: 0.32rem;
    color: #707070;
    line-height: 1rem;
    width: 60%;
    /*height: 1rem;*/
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;*/
    /*white-space: nowrap;*/
}
.record-kzhospital{
    width: 80%!important;
}
.record-kz{
    width: 40%!important;
}
.record-button{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem auto 0.6rem auto;
    background: url("../img/buttonback.png") no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.45rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -webkit-text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow:#df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    /**filter: Glow(color=#df3c95, strength=2);*/
}
/*record建档end*/
.diagnose-content {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 1rem;
}
.diagnose-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.diagnose-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 44%;
    line-height: 1rem;
}
.diagnose-cha{
    color: #6f6f6f;
    font-size: 0.45rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
}
.diagnose-updata{
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    background: #fff;
    margin: 0.2rem auto;
}
.diagnose-up{
    width: 96%;
    height: 5rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px #5a5a5a dashed;
}
.diagnose-up img{
    width: 2.9rem;
    height: 3rem;
    margin: 1rem 30%;
}
.diagnose-content-list{
    width: 100%;
    background: #fff;
    height: auto;
    margin: 0.2rem auto auto auto;
}
.diagnose-content-list dl dt{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px #d8d8d8 solid;
}
.diagnose-content-list dl dt:last-of-type{
    border: none;
}
.diagnose-content-list dl dt ul li{
    float: left;
    width: 40%;
    height: auto;
}
.diagnose-content-list dl dt ul li:last-of-type{
    margin-left: 20%;
}
.diagnose-content-list dl dt ul li label{
    width: 54%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #dd4198;
    text-align: left;
    float: left;
    text-indent: 0.1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.diagnose-content-list dl dt ul li span{
    width: 41%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #486573;
    text-align: right;
    float: left;
    display: block;
    padding-right: 5%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.diagnose-content-list dl dt label{
    width: 30%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #dd4198;
    text-align: left;
    float: left;
    text-indent: 0.1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.diagnose-content-list dl dt span{
    width: 68%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #486573;
    text-align: right;
    float: left;
    display: block;
    padding-right: 2%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.diagnose-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem auto 0rem auto;
    background: url(../img/buttonback.png) no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.5rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
/*diagnose 诊断 end*/
.operation-content {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 1rem;
}
.operation-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.operation-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 40%;
    line-height: 1rem;
}
.operation-zuo{
    color: #6f6f6f;
    font-size: 0.55rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.operation-updata{
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    background: #fff;
    margin: 0.2rem auto;
}
.operation-up{
    width: 96%;
    height: 5rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.operation-up img{
    width: 100%;
    height: 100%;
    border: none;
}
.operation-list{
    width: 100%;
    background: #fff;
    height: auto;
    margin: 0.2rem auto auto auto;
}
.operation-list dl dt{
    width: 96%;
    margin-left: 4%;
    border-bottom: 1px #d8d8d8 solid;
}
.operation-list dl dt:last-of-type{
    border: none;
}
.operation-list dl dt ul li{
    float: left;
    height: 1rem;
    box-sizing: border-box;
    line-height: 1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 0.3rem;
    color: #dd4198;
}
.operation-list dl dt ul li:nth-child(1){
    width: 63%;
    text-align: left;
}
.operation-list dl dt ul li:nth-child(2){
    width: 18.5%;
    text-align: center;
}
.operation-list dl dt ul li:nth-child(3){
    width: 18.5%;
    text-align: center;
}
.operation-list-color{
    color: #010101!important;
}
.liwidth{
    width: 33% !important;
}
.column{
    width: 100%;
    height: 1rem;
    background: #fff;
    margin: 0.2rem auto;
}
.column-lis{
    line-height: 1rem;
    text-align: center;
    color: #000;
    height: auto!important;
    font-size: 0.32rem;
}
.column p{
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #dd4198;
    text-indent: 4%;
    float: left;
}
.column-sanjiao{
    color: #dd4198;
    font-size: 0.55rem;
    float: right;
    line-height: 1rem;
    margin-right: 0.2rem;
}
.operation-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem auto 0rem auto;
    background: url(../img/buttonback.png) no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.45rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
/*operation 运算结果end*/
.operation-cha{
    color: #6f6f6f;
    font-size: 0.4rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
}
/*postoperative 术后评估end*/
.post-result-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.post-result-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 35%;
    line-height: 1rem;
}
.post-result-zuo{
    color: #6f6f6f;
    font-size: 0.55rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.22rem;
}
.post-result-list{
    width: 100%;
    background: #fff;
    height: auto;
    margin: 0.2rem auto auto auto;
}
.post-result-list dl dt{
    width: 96%;
    margin-left: 4%;
    border-bottom: 1px #d8d8d8 solid;
}
.post-result-list dl dt:last-of-type{
    border: none;
}
.post-result-list dl dt ul li{
    float: left;
    height: 1rem;
    box-sizing: border-box;
    line-height: 1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 0.3rem;

}
.post-result-list dl dt ul li:nth-child(1){
    width: 63%;
    text-align: left;
    color: #dd4198;
}
.post-result-list dl dt ul li:nth-child(2){
    width: 37%;
    text-align: center;
    color: #010101;
}
.post-result-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem auto 0rem auto;
    background: url(../img/buttonback.png) no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.42rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
/*post-result术后评估结果end*/
.symmetry-content {
    width: 100%;
    height: auto;
    background: #3b3d4c;
    position: relative;
}
.symmetry-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.symmetry-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 37%;
    line-height: 1rem;
}
.symmetry-zuo{
    color: #6f6f6f;
    font-size: 0.55rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.22rem;
}
.symmetry-list{
    width: 100%;
    background: #fff;
    height: auto;
    margin: 0.2rem auto auto auto;
}
.symmetry-updata {
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    background: #3b3d4c;
    margin: 0.2rem auto;
}
.symmetry-up {
    width: 96%;
    height: 5rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px #fff dashed;
}
.symmetry-up img {
    width: 2.9rem;
    height: 3rem;
    margin: 1rem 30%;
}
.symmetry-button {
    position: absolute;
    bottom: 1rem;
    left: 35%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.6rem auto 0rem auto;
    background: url(../img/loginin.png) no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.45rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
/*symmetry 对称性评估end*/
.symmetry-result-content {
    width: 100%;
    height: auto;
    background: #3b3d4c;
}
.symmetry-result-nav {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
}
.symmetry-result-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    margin-left: 33%;
    line-height: 1rem;
}
.symmetry-result-zuo{
    color: #6f6f6f;
    font-size: 0.55rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.22rem;
}
.symmetry-result-list{
    width: 100%;
    background: #fff;
    height: auto;
    margin: 0.2rem auto auto auto;
}
.symmetry-result-updata{
    width: 100%;
    height: 7.2rem;
}
.symmetry-result-updata-rusu{
    width: 100%;
    height: 1.5rem;
}
.symmetry-result-updata-rusu p{
    width: 70%;
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.45rem;
    color: #facce6;
    text-align: right;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
.symmetry-result-updata-rusu span{
    width: 30%;
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    display: block;
}
.symmetry-result-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3rem auto 0.6rem auto;
    background: url(../img/buttonback.png) no-repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    font-size: 0.45rem;
    font-weight: bold;
    color: #facce6;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: #df3c95 2px 0 0, #df3c95 0 2px 0, #df3c95 -2px 0 0, #df3c95 0 -2px 0;
    -webkit-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
    -moz-text-shadow: #df3c95 2px 0 0,#df3c95 0 2px 0,#df3c95 -2px 0 0,#df3c95 0 -2px 0;
}
/*symmetry-result 对称性评估结果end*/
.changeback-content{
    width: 100%;
    height: auto;
    background: #f2f2f2;
}
.changeback-nav{
    width: 100%;
    height: 1rem;
    background: #fff;
}
.changeback-zuo {
    color: #6f6f6f;
    font-size: 0.65rem;
    float: left;
    margin-left: 0.2rem;
    line-height: 1rem;
}
.changeback-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    float: left;
    margin-left: 24%;
    line-height: 1rem;
}
.changeback-pic{
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0.2rem;
}
.cover{
    opacity: 0;
    width: 100%;
    height: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 222;
}
.js_upFile{
    display: block;
    width: 96%;
    margin-left: 4%;
    height: 1.2rem;
    border: none;
    text-align: left;
    position: relative;
}
.js_upFile p{
    width: auto;
    height: 1.2rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
}

/*changeback end*/
.profile-content{
    width: 100%;
    height: auto;
    background: #f2f2f2;
}
.profile-nav{
    width: 100%;
    height: 1rem;
    background: #fff;
}
.profile-zuo {
    color: #6f6f6f;
    font-size: 0.65rem;
    float: left;
    margin-left: 0.2rem;
    line-height: 1rem;
}
.profile-nav-list {
    color: #dd4198;
    font-size: 0.38rem;
    float: left;
    margin-left: 24%;
    line-height: 1rem;
}
.profile-list-cont{
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0.2rem;
}

.profile-list-cont ul li{
    width: 96%;
    margin-left: 4%;
    height: 1rem;
    border-bottom: 1px #dfdfdf solid;
}
.profile-list-cont ul li:last-of-type{
    border-bottom: none;
}
.profile-list-cont ul li label{
    width: auto;
    float: left;
    text-align: left;
    font-size: 0.35rem;
    color: #000000;
    line-height: 1rem;
}
.profile-jiandang-input{
    float: right;
    text-align: right;
    margin-right: 0.3rem;
    font-size: 0.32rem;
    color: #707070;
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 60%;
    margin-top: 0.3rem;
}
.profile-record-zhi{
    float: right;
    text-align: right;
    margin-right: 0.3rem;
    font-size: 0.32rem;
    color: #707070;
    line-height: 1rem;
    height: 1rem;
    width: 60%;
    /*height: 1rem;*/
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;*/
    /*white-space: nowrap;*/
    position: relative;
}
.profile-record-zhi img{
    width: 0.8rem;
    height: 0.8rem;
    border: 1px #707070 solid;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0.1rem;
    right: 0;
    z-index: 111;
}
.profile-jiandang-inputt{
    float: right;
    text-align: left;
    margin-right: 0.3rem;
    font-size: 0.32rem;
    color: #707070;
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 3rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 61%;
    margin-top: 0.22rem;
}
.profile-cover{
    opacity: 0;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 222;
}
/*profileend*/
/*pad-pro横屏*/
@media only screen and (min-width: 1366px) {

}

/*pad横屏*/
@media only screen and (min-width: 1024px) {

}

/*pad竖屏*/
@media only screen and (min-width: 768px) {

}